li {
    display: inline-block;
    text-align: center;

}
 li a {
     color: white;
     text-decoration: none;
     padding: 0px 10px;
     font-size: 24pt;
 }

 li a:hover {
     background-color: black;
 }